<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="/">BookWorm</a>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <a href="#">Link</a>
                </li>
                <li>
                    <a routerLink="/shopping-cart">
                        <mat-icon *ngIf="cart | async as cart" matBadge="{{ cart.totalItemsCount }}" matBadgeColor="accent">shopping_cart</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
      
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <ng-template #anonymousUser>
                    <li>
                        <a routerLink="/registration">Sign Up</a>
                    </li>
                    <li>
                        <a routerLink="/login">Sign In</a>
                    </li>
                </ng-template>
                <li *ngIf="user; else anonymousUser">
                    <a id="un" [matMenuTriggerFor]="menu">{{ user.UserName }}</a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>list</mat-icon>  
                            <a routerLink="/myOrders">My Orders</a>
                        </button>
                        <ng-container *ngIf="user.role == 'Admin'">
                            <button mat-menu-item>
                                <mat-icon>reorder</mat-icon>
                                <a routerLink="/admin/orders">Manage Orders</a>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>storage</mat-icon>
                                <a routerLink="/admin/products">Manage Products</a>
                            </button>
                        </ng-container>
                        <button mat-menu-item>
                            <mat-icon>person_outline</mat-icon>
                            <a (click)="logout()">Log Out</a>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

