<mat-toolbar color="basic">
    <mat-toolbar-row>
        <span>BookWorm</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <span>Home</span>
                </li>
                <li>
                    <span>Link</span>
                </li>
                <li>
                    <span>Shopping cart</span>
                </li>
            </ul>
        </div>
      
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <span>Register</span>
                </li>
                <li>
                    <span>Login</span>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
