<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="/">BookWorm</a>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <a href="#">Link</a>
                </li>
                <li>
                    <a routerLink="/shopping-cart">Shopping cart</a>
                </li>
            </ul>
        </div>
      
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <a routerLink="/registration">Sign Up</a>
                </li>
                <li>
                    <a routerLink="/login">Sign In</a>
                </li>
                <li>
                    <a id="un" [matMenuTriggerFor]="menu">username</a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>list</mat-icon>  
                            <a routerLink="/myOrders">My Orders</a>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>reorder</mat-icon>
                            <a routerLink="/admin/orders">Manage Orders</a>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>storage</mat-icon>
                            <a routerLink="/admin/products">Manage Products</a>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>person_outline</mat-icon>
                            <a (click)="logout()">Log Out</a>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
