a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}

button a {
    color: #3f51b5;;
}

#un {
    cursor: pointer;
    font-weight: normal;
}
