mat-drawer-container {
    padding: 80px;
}

a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

table {
    width: 100%;
}

.book-table {
    min-width: 800px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 80%;
  }

