<mat-card *ngIf="product.title" class="product-card">
    <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>
    <img *ngIf="product.imageUrl" mat-card-image [src]="product.imageUrl" alt="{{ product.title }}">
    <mat-card-content>
        <p>{{ product.price | currency }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="showActions && shoppingCart">
        <button
            *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"  
            mat-stroked-button color="primary" 
            (click)="addToCart()">ADD TO CART
        </button>
        <ng-template #updateQuantity>
            <product-quantity [product]="product" [shopping-cart]="shoppingCart">
            </product-quantity>
        </ng-template>
    </mat-card-actions>
</mat-card>