.login-card {
    max-width: 900px;
}
 
.login-form {
    min-width: 270px;
    max-width: 900px;
    width: 100%;
  }
  
  .login-full-width {
    width: 100%;
  }

  mat-form-field {
      padding-top: 30px;
  }