.container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-sidenav {
    margin-top: 1%;
}

mat-sidenav-content {
    padding-top: 1%;
}
