<mat-sidenav-container class="container" >
    <mat-sidenav mode="side" opened="true" class="sidenav">
        <button mat-mini-fab (click)="isExpanded = !isExpanded" color="primary" style="margin: 10px;">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <product-filter *ngIf="isExpanded" [category]="category"></product-filter>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px">
        <div *ngFor="let p of filteredProducts" fxFlex="20%" fxFlex.xs="95%" fxFlex.sm="45%" fxFlex.md="28%">
            <product-card [product]="p"></product-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>