table {
    min-width: 800px;
}

mat-drawer-content {
    margin-bottom: 80px;
}

th.mat-header-cell {
    font-weight: bold;
}

.mat-column-totalPrice {
    padding-left: 15px;
}

tr.mat-footer-row {
    font-weight: bold;
}

button {
    margin-top: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
    margin: 5px;
}

a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

.clear-cart-btn {
    margin-left: 2px;
}

.clear-cart-btn:hover {
    background-color: #f44336;
    color:  white;
}

